li {
	font-size: 20px;
	background: powderblue;
	list-style: none;
	display: flex;
	width: 100%;
	display: list-item;
	padding: 0px;
	border-radius: 10px;
	margin-bottom: 10px;
}
ul {
	padding: 0;
}

h4 {
	color: white;
}

.create-update-form {
	padding: 5px;
	margin: 5px;
}

.form-group {
	margin-bottom: 5px;
	align-items: center;
}

#title {
	text-align: center;
	color: teal;
	font-size: 4rem;
}

#box {
	max-width: 33%;
	margin: 0;
	background-color: transparent;
	text-align: center;
}

#big-box {
	background-color: grey;
	padding-top: 20px;
}
